

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Online/BaoCao_TienIch.css" />

<div>
    <nav aria-label="breadcrumb " class="first d-md-flex">
        <ol class="breadcrumb indigo lighten-6 first-1 mb-5 bar-menu">
            <li class="font-weight-bold">
                <a class="breadcrumb-link" href="#"><span>Báo cáo - tiện ích</span></a>
            </li>
            <div class="triangle-right"></div>
            <li class="breadcrumb-item font-weight-bold">
                <a class="breadcrumb-link" href="#"><span>DS tin đăng theo khách hàng</span></a>
            </li>


        </ol>
    </nav>
</div>

<div class="k-portlet__body">
    <div class="row">
        <div class="col-12 nopadding">
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                <div class="padt20" style="padding-top: 0px !important;">
                    <form id="formSearch">
                        <div class="col-md-12 nopadding d-inline-block m-auto">
                            <div class="form-group row nopadding">
                                <div class="col-sm-1 col-md-1 nopadding">
                                    <label class="padt6">Mã chứng khoán</label>
                                </div>
                                <div class="col-sm-5 col-md-5">
                                    <select class="form-control" id="stockcode" name="AStockCode" asp-items="@(new SelectList(Model.ListMaCk, "StockCode","AMack"))">
                                        <option value="">Tất cả</option>
                                    </select>

                                </div>
                                <div class="col-sm-1 col-md-1 ">
                                    <label class="padt6">Loại hình</label>
                                </div>
                                <div class="col-sm-5 col-md-5 nopadding">
                                    <select class="form-control" id="companytype" name="ACompanyType" asp-items="@(new SelectList(Model.ListCompanyType, "TypeCode","TypeName"))">
                                        <option value="-1">Tất cả</option>
                                    </select>

                                </div>
                            </div>
                            <div class="form-group row nopadding">
                                <div class="col-sm-1 col-md-1 nopadding">
                                    <label class="padt6">Người phụ trách</label>
                                </div>
                                <div class="col-sm-5 col-md-5">
                                    <input class="form-control" type="text" name="AExpert" id="expert">

                                </div>
                                <div class="col-sm-1 col-md-1 ">
                                    <label class="padt6">Vùng miền</label>
                                </div>
                                <div class="col-sm-5 col-md-5 nopadding">
                                    <select class="form-control" id="region" name="ARegion">
                                        <option value="-1">Tất cả</option>
                                        <option value="1">Hà Nội</option>
                                        <option value="2">Đà Nẵng</option>
                                        <option value="3">Hồ Chí Minh</option>
                                    </select>

                                </div>
                            </div>
                            <div class="form-group row nopadding">
                                <div class="col-sm-1 col-md-1 nopadding">
                                    <label class="padt6">Từ ngày</label>
                                </div>

                                <div class="col-sm-5 col-md-5">
                                    <input class="form-control" id="fromdate" type="date" name="AFromDate">

                                </div>
                                <div class="col-sm-1 col-md-1 ">
                                    <label class="padt6">Đến ngày</label>
                                </div>
                                <div class="col-sm-5 col-md-5 nopadding">
                                    <input class="form-control" id="todate" type="date" name="AToDate">

                                </div>
                            </div>
                            <div class="form-group row nopadding">
                                <div class="col-sm-1 col-md-1 nopadding">
                                    <label class="padt6">Loại tài liệu</label>
                                </div>
                                <div class="col-sm-5 col-md-5">
                                    <select class="form-control" id="doctype" name="ADocType" asp-items="@(new SelectList(Model.ListDocType, "TypeCode","TypeName"))">
                                        <option value="-1">Tất cả</option>
                                    </select>

                                </div>
                                <div class="col-sm-1 col-md-1">
                                    <label class="padt6">Trạng thái</label>
                                </div>
                                <div class="col-sm-5 col-md-5 nopadding">
                                    <select class="form-control" id="status" name="AStatus">
                                        <option value="1">Đã công bố</option>
                                        <option value="2">Chưa công bố</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="row col-12 d-flex justify-content-center nopadding">
        <button type="button" id="save_button"
                class=" btn btn-primary save-rules-btn mt-3 col-md-1 col-sm-12 mt-2">
            Tìm kiếm
        </button>
        <button type="button" id="export_button"
                class=" btn btn-primary export-btn mt-3 col-md-1 col-sm-12 mt-2">
            Xuất báo cáo
        </button>
    </div>
    <div class="row mt-3">
        <table id="listNews" class="table table-striped dt-responsive dataTable no-footer dtr-inline"
               role="grid" style="width: 1322px;">
        </table>
    </div>
</div>
<div id="loading"></div>
<script>
    $(document).ready(function () {

        function loaddata() {

            var renderColumns = [
                {
                    orderable: true,
                    data: "astockcode",
                    title: "Mã chứng khoán",
                },
                {
                    orderable: true,

                    title: "Tên công ty",
                    data: "aname"
                },

                {
                    orderable: false,

                    title: "Vùng miền",
                    data: "avungmien"
                },

                {
                    orderable: false,

                    title: "Sàn giao dịch",
                    data: "asangiaodich"
                },
                {
                    orderable: false,

                    title: "Loại tài liệu",
                    data: "aloaitailieu"
                },
                {
                    orderable: false,

                    title: "Tiêu đề",
                    data: "atitle"
                },
                {
                    orderable: false,

                    title: "Năm",
                    data: "ayear"
                },
                {
                    orderable: false,

                    title: "Ngày đăng",
                    render: function (data, type, listnews) {
                        return formatDateTimeToDate(listnews.adatepub);

                    }
                },
                {
                    orderable: false,

                    title: "Người tải lên",
                    data: "acreateby"
                },
                {
                    orderable: false,

                    title: "Người phụ trách",
                    data: "aexpert"
                }

            ]

            $('#loading').addClass('loading');

            $.ajax({
                type: "GET",
                url: '@Url.Action("ListNews", "DSTinDangTheoKhachHang")',
                dataType: 'json',
                data: $("#formSearch").serialize(),
                success: function (data) {
                        $('#listNews').DataTable({
                            ordering: false,
                            dom: "lti<'d-flex justify-content-center'p>",
                            destroy: true,
                            "ordering": false,
                            searching: false,
                            lengthChange: false,
                            className: 'dt-body-right',
                            "bInfo": true,
                            data: data,
                            columns: renderColumns
                        });


                    $('#loading').removeClass('loading');
                },
                error: function (err) {
                    console.log(err);
                }
            });
        };

        loaddata();


        //Tìm kiếm danh sác tin đăng
        $('body').on('click', '#save_button', function (e) {

            e.preventDefault();
            loaddata();
        });

        //Xuất báo cáo danh sách tin đăng
        $('body').on('click', '#export_button', function (e) {
            e.preventDefault();

            $('#loading').addClass('loading');

            var form = $("#formSearch");

            $.postNative('@Url.Action("ExportExcel", "DSTinDangTheoKhachHang")', form.serialize())
                .done((response, statusCode, xhr) => {
                    console.log(response);
                    if (response.code) {
                        console.log(response);
                        return isMessageSuccess(response);
                    }
                    const type = xhr.getResponseHeader('Content-Type');
                    const blob = new Blob([response], { type: type });


                    //check nếu là response message , không phải file thì hiển thị lỗi
                    if (type.includes("application/json")) {
                        //phải đọc file vì respone ở dạng arraybuffer
                        const fileReader = new FileReader();
                        fileReader.onload = function () {
                            $('#loading').removeClass('loading');
                            isMessageSuccess(JSON.parse(this.result));
                        };
                        fileReader.readAsText(blob);
                        return;
                    }

                    const currentTime = new Date();
                    const filename = `DanhSachTinDangTheoKhachHang${currentTime.getSeconds()}.xlsx`;
                    saveAs(blob, filename);
                    $('#loading').removeClass('loading');
                })
                .fail(() => { });
        });

        @*function Validate(i) {
            if ($('#expert').val().length > 100) {
                        toastr.error('@SharedLocalizer["EXPERT_MAXLENGTH"]');
                        return false;
                    }
            return true;
        };*@
    });
</script>
