@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.AspNetCore.Http;
@inject IHtmlLocalizer<SharedResource> Localizer;
@using Microsoft.AspNetCore.Localization
@{
    var img = ViewBag.Imgbm;
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var language = requestCulture.RequestCulture.UICulture.Name;
}

<div class="k-content	k-grid__item k-grid__item--fluid k-grid k-grid--hor DaiHoiform"
     id="k_content">


    <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <!-- Content Row -->
            <!-- Content Row -->
            <!-- Content Row -->
            <div id="tamnhin" class="row">
                
            </div>
            
            <div id="chienluoc" class="row">

            </div>
            

        </div>
        <!-- /.container-fluid -->

    </div>

    <!-- End of Main Content -->


</div>
<div id="loading"></div>
<script>
     $(document).ready(function () {
            //console.log(stockcode);
         var ThongTin = function () {

             this.init = function () {
                loadData();
                loadchienluoc();
            }
             //tầm nhìn
             var loadData = function () {
                $('#loading').addClass('loading');

                var cpnyId = $("#cpnyid").val();
                        $.ajax({
                            url: '@Url.Action("GetTamNhin", "ThongTinDoanhNghiep")',
                            method: 'GET',
                            dataType: 'json',
                            data: { cpnyID: cpnyId} ,
                            success: function (data) {
                                $('#loading').removeClass('loading');

                                 var lang = ReturnLanguage();

                                let html = '';
                                for (const item of data) {
                                    if (lang == "vi-VN" || lang == '') {
                                        if (item.alanguage == "VN") {
                                            html += `
                                            <div class="contentt">
                                                                <p>@Localizer["Tam_nhin"].Value</p>
                                                            </div>

                                                            <div class="tamnhin" style="width:100%;overflow: auto;">
                                                            ${item.acontent.replaceAll('Images/Inforsheet', '@img/Images/Inforsheet')}
                                                            </div>
                                            `;
                                        }
                                    } else {
                                        if (item.alanguage == "US") {
                                           html += `
                                            <div class="contentt">
                                                                <p>@Localizer["Tam_nhin"].Value</p>
                                                            </div>

                                                            <div class="tamnhin" style="width:100%;overflow: auto;">
                                                            ${item.acontent.replaceAll('Images/Inforsheet', '@img/Images/Inforsheet')}
                                                            </div>
                                            `;
                                        }
                                    }


                                }

                                $('#tamnhin').append(html);
                            },
                            error: function (err) {
                                $('#loading').removeClass('loading');
                               // console.log(err);
                            }
                        });
             }
             //chiến lược
             var loadchienluoc = function () {
                 $('#loading').addClass('loading');
                        var cpnyId = $("#cpnyid").val();
                          $.ajax({
                            url: '@Url.Action("GetChienLuoc", "ThongTinDoanhNghiep")',
                            method: 'GET',
                            dataType: 'json',
                              data: { cpnyID: cpnyId} ,
                            success: function (data) {
                            console.log(data);
                                $('#loading').removeClass('loading');
                                  var lang = ReturnLanguage();
                                let html = '';
                                for (const item of data) {
                                    if (lang == "vi-VN" || lang == '') {
                                        if (item.alanguage == "VN") {
                                            html += `<div class="contentt">
                                                    <p>@Localizer["Chien_luoc"].Value</p>
                                                </div>

                                                <div class="chienluoc" style="width:100%;">
                                                     ${item.acontent.replaceAll('Images/Inforsheet', '@img/Images/Inforsheet')}

                                                </div>`;
                                                                            }
                                    } else {
                                        if (item.alanguage == "US") {
                                            html += `<div class="contentt">
                                                    <p>@Localizer["Chien_luoc"].Value</p>
                                                </div>

                                                <div class="chienluoc" style="width:100%;" >
                                                     ${item.acontent.replaceAll('Images/Inforsheet', '@img/Images/Inforsheet')}

                                                </div>`;
                                        }
                                    }
                                }

                            $('#chienluoc').append(html);
                        },
                              error: function (err) {
                                  $('#loading').removeClass('loading');
                                 // console.log(err);
                        }
                    });
             }
        }
         var thongTin = new ThongTin();
         thongTin.init();
    });
</script>