@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.AspNetCore.Http;
@inject IHtmlLocalizer<SharedResource> Localizer;
@using Microsoft.AspNetCore.Localization
@{

    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var language = requestCulture.RequestCulture.UICulture.Name;
    var CkeditorImgUrl = ViewBag.CkeditorImgUrl;
}

<div class="k-content	k-grid__item k-grid__item--fluid k-grid k-grid--hor DaiHoiform"
     id="k_content">


    <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <!-- Content Row -->
            <!-- Content Row -->
            <!-- Content Row -->

            <div id="diemmanh">

            </div>

            <div id="diemyeu">

            </div>

            <div id="cohoi">

            </div>

            <div id="thachthuc">

            </div>
        </div>
        <!-- /.container-fluid -->

    </div>

    <!-- End of Main Content -->


</div>
<div id="loading"></div>
<script>
     $(document).ready(function () {
         var stock_code = window.location.href.split('?')[0].split('/')[4];
         var stockcode = stock_code.toUpperCase();
            //console.log(stockcode);
         var ThongTin = function () {

             this.init = function () {
                loadDM();
                loadDY();
                loadCH();
                loadTT();
             }

             var loadDM = function () {
                $('#loading').addClass('loading');

                var cpnyId = $("#cpnyid").val();
                $.ajax({
                    url: '@Url.Action("GetDiemManh", "ThongTinDoanhNghiep")',
                    method: 'GET',
                    dataType: 'json',
                    data: { cpnyID: cpnyId} ,
                    success: function (data) {
                        $('#loading').removeClass('loading');
                        //console.log(data);
                           var lang = ReturnLanguage();
                        let html = '';
                        for (const item of data) {
                            if (lang == "vi-VN" || lang == '') {
                                if (item.alanguage == "VN") {
                                    html += `<div class="contentt">
                                                        <p>@Localizer["DM"].Value</p>
                                                    </div>

                                                    <div class="kinhdoanh">
                                                        ${item.acontent.replaceAll('Images/Inforsheet','@CkeditorImgUrl')}
                                                    </div>
                                    `;
                                }
                            } else {
                                if (item.alanguage == "US") {
                                    html += `<div class="contentt">
                                                        <p>@Localizer["DM"].Value</p>
                                                    </div>

                                                    <div class="kinhdoanh">
                                                        ${item.acontent.replaceAll('Images/Inforsheet','@CkeditorImgUrl')}
                                                    </div>
                                    `;
                                }
                            }
                        }

                        $('#diemmanh').append(html);
                    },
                    error: function (err) {
                        $('#loading').removeClass('loading');
                        //console.log(err);
                    }
                });

             }
             var loadDY = function () {
                 $('#loading').addClass('loading');


                var cpnyId = $("#cpnyid").val();
                $.ajax({
                    url: '@Url.Action("GetDiemYeu", "ThongTinDoanhNghiep")',
                    method: 'GET',
                    dataType: 'json',
                    data: { cpnyID: cpnyId} ,
                    success: function (data) {
                       // console.log(data);
                          var lang = ReturnLanguage();
                        let html = '';
                        for (const item of data) {
                            if (lang == "vi-VN" || lang == '') {
                                if (item.alanguage == "VN") {
                                    html += `<div class="contentt">
                                                        <p>@Localizer["DY"].Value</p>
                                                    </div>

                                                    <div class="kinhdoanh">
                                                        ${item.acontent.replaceAll('Images/Inforsheet','@CkeditorImgUrl')}
                                                    </div>
                                    `;
                                }
                            } else {
                                if (item.alanguage == "US") {
                                    html += `<div class="contentt">
                                                        <p>@Localizer["DY"].Value</p>
                                                    </div>

                                                    <div class="kinhdoanh">
                                                            ${item.acontent.replaceAll('Images/Inforsheet','@CkeditorImgUrl')}
                                                    </div>
                                    `;
                                }
                            }
                        }

                        $('#diemyeu').append(html);
                    },
                    error: function (err) {
                        $('#loading').removeClass('loading');
                       // console.log(err);
                    }
                });

             }
             var loadCH = function () {
                 $('#loading').addClass('loading');
                var cpnyId = $("#cpnyid").val();
                $.ajax({
                    url: '@Url.Action("GetCoHoi", "ThongTinDoanhNghiep")',
                    method: 'GET',
                    dataType: 'json',
                    data: { cpnyID: cpnyId} ,
                    success: function (data) {
                        $('#loading').removeClass('loading');
                        //console.log(data);
                          var lang = ReturnLanguage();
                        let html = '';
                        for (const item of data) {
                            if (lang == "vi-VN" || lang == '') {
                                if (item.alanguage == "VN") {
                                    html += `<div class="contentt">
                                                        <p>@Localizer["CH"].Value</p>
                                                    </div>

                                                    <div class="kinhdoanh">
                                                        ${item.acontent.replaceAll('Images/Inforsheet','@CkeditorImgUrl')}
                                                    </div>
                                    `;
                                }
                            } else {
                                if (item.alanguage == "US") {
                                    html += `<div class="contentt">
                                                        <p>@Localizer["CH"].Value</p>
                                                    </div>

                                                    <div class="kinhdoanh">
                                                        ${item.acontent.replaceAll('Images/Inforsheet','@CkeditorImgUrl')}
                                                    </div>
                                    `;
                                }
                            }
                        }

                        $('#cohoi').append(html);
                    },
                    error: function (err) {
                        $('#loading').removeClass('loading');
                       // console.log(err);
                    }
                });

             }
             var loadTT = function () {
                 $('#loading').addClass('loading');

                var cpnyId = $("#cpnyid").val();
                $.ajax({
                    url: '@Url.Action("GetThachThuc", "ThongTinDoanhNghiep")',
                    method: 'GET',
                    dataType: 'json',
                    data: { cpnyID: cpnyId} ,
                    success: function (data) {
                        $('#loading').removeClass('loading');
                        //console.log(data);
                          var lang = ReturnLanguage();
                        let html = '';
                        for (const item of data) {
                            if (lang == "vi-VN" || lang == '') {
                                if (item.alanguage == "VN") {
                                    html += `<div class="contentt">
                                                        <p>@Localizer["TT"].Value</p>
                                                    </div>

                                                    <div class="kinhdoanh">
                                                        ${item.acontent.replaceAll('Images/Inforsheet','@CkeditorImgUrl')}
                                                    </div>
                                    `;
                                }
                            } else {
                                if (item.alanguage == "US") {
                                    html += `<div class="contentt">
                                                        <p>@Localizer["TT"].Value</p>
                                                    </div>

                                                    <div class="kinhdoanh">
                                                        ${item.acontent.replaceAll('Images/Inforsheet','@CkeditorImgUrl')}
                                                    </div>
                                    `;
                                }
                            }
                        }

                        $('#thachthuc').append(html);
                    },
                    error: function (err) {
                        $('#loading').removeClass('loading');
                       // console.log(err);
                    }
                });
             }




        }
         var thongTin = new ThongTin();
         thongTin.init();
    });
</script>